# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# vscode project files
.vscode

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# node modules
node_modules


#frontend layout dist
frontend/design/dist

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

#files
/common/files/*
/common/files.*

#shared hosting files
/.cagefs
/.cl.selector
/.cpanel
/.cphorde
/.htpasswds
/.sitepad
/.spamassassin
/.ssh
/.trash
/etc
/logs
/mail
/public_ftp
/ssl
/tmp
/www
/access-logs
/.bash_logout
/.bash_profile
/.bashrc
/.contactemail
/.htaccess
/.lastlogin
/.psql_history
/.spamassassinenable
/.emacs
/.softaculous/
/.spamassassinboxenable
/dailyreport_off
/s_imapstatus

.env
enable_maintenance
enable_maintenance*